<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
  {load href="/static/js/jquery.js"/}
  {load href="/static/css/bootstrap/js/bootstrap.min.js"/}
  {load href="/static/css/bootstrap/css/bootstrap.min.css"/}
</head>
<body>
    {block name="content"}主内容{/block}
</body>
</html>
